:root {
    --transition: all 0.3s linear;
    --radius: 0.25rem;
    --clr-primary-5: hsl(21, 62%, 45%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-white: #fff;
}


.section-center {
    margin: 0 auto;
    margin-top: 1rem;
    width: 80vw;
    height: 550px;
    max-width: 1000px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

.page-img {
    /* border-radius: 50%; */
    /* margin-bottom: 1rem;
    width: 100%;
    /* height: 150px; */
    /*object-fit: cover;
    border: 1px solid black; */
    /*  box-shadow: var(--dark-shadow); */

    max-width: 93%;
    margin-bottom: 17px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}

/* Buttons */
.prev,
.next {
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    /*  width: 1.25rem; */
    /* height: 1.5rem; */
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    /* transition: var(--transition); */
    color: var(--clr-grey-5);
}

.prev:hover,
.next:hover {
    color: var(--clr-primary-5);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media (max-width: 620px) {

    .prev,
    .next {
        top: 90%;
    }

    .prev {
        left: 38%;
    }

    .next {
        right: 38%;
    }

    .section-center {
        height: 250px;
    }
}

@media (min-width: 620px) and (max-width: 1100px) {

    .prev,
    .next {
        top: 90%;
    }

    .prev {
        left: 45%;
    }

    .next {
        right: 45%;
    }

    .section-center {
        height: 450px;
    }
}